body {
  background-color: rgba(128, 0, 128, 0.95);
}

#squares {
  height: 500px;
  width: 500px;
  /* Poniżej wyśrodkowanie */
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px solid;
  box-sizing: border-box;
  border: 15px solid rgb(206, 159, 159);
}

.p-squares-position {
  position: absolute;
  margin: 0;
}

.main-square {
  background-color: rgb(14, 245, 168);
  height: calc(500px - 30px);
  width: calc(500px - 30px);
}

.inside-square-one {
  background-color: green;
  height: calc((500px - 30px) / 2);
  width: calc((500px - 30px) / 2);
  right: 0;
  bottom: 0;
}

.inside-square-two {
  background-color: red;
  height: calc((500px - 30px) / 2);
  width: calc((500px - 30px) / 2);
  left: 0;
  top: 0;
}
